@media (max-width: 425px) {

    body{
        overflow: scroll;
    }

    .principal{
        display: flex;
        flex-direction: column;
    }

    .conteudo {
        max-width: 100vh;
        height: 730px;
        padding: 30px;
    }

    .logo {
        width: 80px;
    }

    .valor {
        font-size: 30px;
    }

    h1 {
        font-size: 40px;
    }

    .descricao {
        font-size: 15px;
    }

    h3 {
        font-size: 18px;
    }

    .numeros {
        width: 40px;
        height: 40px;
    }

    .carrinho {
        height: 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .foto {
        max-width: 250px;
        transform: rotate(-15deg);
    }

    .tenis{
        left: 50%;
        top: 105%;
    }

    .cores {
        height: 70px;
        width: 100%;
        top: 80%;
        left: 40px;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #1f1f1f01;
    }

    .botao {
        width: 50px;
        height: 50px;
    }

}
